.gridTile {
  margin: 0.5rem;
  height: 80px;
  border-radius: 4%;
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.gridTile:hover {
  border-color: black;
}
.loadSize {
  height: 100px;
  width: 100px;
}
