.authToggle {
    float: right;
    cursor: pointer;
}

.authToggle:hover {
    color: rgb(20, 96, 236);
}

.marginTop {
    margin-top: 100px;
}
/* 
.heading {
    font-family: "Kaushan Script";
    font-size: 2.5rem;
} */